.body{
    background-color: pink;
}
.button{
    background-color: hotpink;
    width: 50%;
    font-size: 30px;
    margin-top: 1rem;
}
.text{
    padding-top: 5rem;
}
.button-div{
    padding: 1rem;
}
.popup{
    background: rgb(43, 48, 53);
    width: 20rem;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-100%);
    text-align: center;
    padding: 0 30px 30px;
    color: white;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup {
    visibility: visible;
}
.link{
    text-decoration: none;
    color: black;
}
/* .img-under{
    padding-top: 10rem;
} */
.header{
    padding-top: 5rem;
}
.header2{
    padding-top: 1rem;
}
.heart-img{
    width: 60%;
    margin-left: -3rem;
}
.code{
    font-size: 2rem;
}
.kruidvat-img{
    margin-top: 4rem;
}